* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: #ffffff;
  width: 80%;
  margin: 0 auto;
  padding: 3em;
}

.intro-content {
  width: 50%;
}
